/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://i.postimg.cc/Z0tTjyJq/1200px-SIB-from-entrance-gate.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}