#h1{
    margin-left:500px;
    margin-top: 50px;
    color: brown;
}

.link{
   margin-left: 100px;
   margin-top: -60px;
}

table,th,tr,td{
    border: 2px black solid;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}