form{
    background-image: url(../../assets/images/collage-with-businessman-word-banking-and-financial-pictograms-on-dark-background-2BGP341.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    margin-left: 240px;
    width: 900px;
    height: 540px;
    align-items: center;
}
